* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 5px;
    background-color: grey;
    width: 100%;
    padding: 50px 50px;
    
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header nav a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.header nav a:hover {
    color: rgb(36, 34, 34);
}

.header input {
    border: none;
    border-color: white;
    padding: 7px 15px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

.header button {
    background-color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    height: 50px;
}

.header button:hover {
    background-color: whitesmoke;
    color: grey;
}

.goals {
    display: flex;
    justify-content: center;   
    align-items: flex-start;   
    gap: 80px;                 
    padding: 40px 0;
}

.goals p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20x;
    color: grey;
    justify-content: center;
    text-align: justify;
    max-width: 400px;
    line-height: 1.6;
}

.goals h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: grey;
    text-align: center;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    max-width: 1000px;  
}

.services img {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 50%;
}

.footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20x;
    color: grey;
    background-color: grey;
    color: white;
    margin: 0 auto;
    padding: 40px;
}